* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontsans;
    background-color: $secondaryColor;
    text-align: center;
    justify-content: center;
    display: inline-block
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    color: $mainColor;

}
.titulo {
    color: $mainColor;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
